<div id="toast-container" class="toast-top-right">
	{% for type, messages in app.session.flashbag.all() %}
		{% if floating is defined %}
			{% for message in messages %}
				<div {{ stimulus_controller('alert-floating', {
					'type' : type,
					'duration' : duration is defined ? duration : 5000,
				}) }}>
					{{ message | trans | nl2br }}
				</div>
			{% endfor %}
		{% else %}
			{% for message in messages %}
				<div {{ stimulus_controller('alert-message', {
					'type': type
				}) }}
				>
					{{ message | trans | nl2br }}
				</div>
			{% endfor %}
		{% endif %}
	{% endfor %}
</div>
