{% extends 'admin/base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="nk-content-inner">
			<div class="nk-content-body">
				<div class="nk-block-head nk-block-head-sm">
					<div class="nk-block-between">
						<div class="nk-block-head-content">
							<h3 class="nk-block-title page-title">
								{% block dashboardTitle '' %}
							</h3>
						</div>

						<div class="nk-block-head-content">
							<div class="toggle-wrap nk-block-tools-toggle">
								<a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
								<div class="toggle-expand-content" data-content="pageMenu">
									<ul class="nk-block-tools g-3">
										<li>
											<div class="form-control-wrap">
												<div class="form-icon form-icon-right">
													{{ icon('search') }}
												</div>
												<input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
											</div>
										</li>
										<li>
											<div class="dropdown">
												<a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-bs-toggle="dropdown">Status</a>
												<div class="dropdown-menu dropdown-menu-end">
													<ul class="link-list-opt no-bdr">
														<li><a href="#"><span>New Items</span></a></li>
														<li><a href="#"><span>Featured</span></a></li>
														<li><a href="#"><span>Out of Stock</span></a></li>
													</ul>
												</div>
											</div>
										</li>
										<li class="nk-block-tools-opt">
											{% block actions %} {% endblock %}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% block content ''%}
			</div>
		</div>
	</div>
{% endblock %}
