{% extends 'admin/base.html.twig' %}

{% block title 'products'|trans %}

{% block body %}
	<div class="container-fluid">
		<div class="nk-content-inner">
			<div class="nk-content-body"
				{{ stimulus_controller({
					'checkbox-all' : {},
					'reload-content' : {
						url : path(app.request.attributes.get('_route'), app.request.query.all)
					}
				}) }}
			>
				<div class="nk-block-head nk-block-head-sm">
					<div class="nk-block-between">
						<div class="nk-block-head-content">
							<h3 class="nk-block-title page-title">
								{{ 'products'|trans }}
							</h3>
						</div>

						<div class="nk-block-head-content">
							<div class="toggle-wrap nk-block-tools-toggle">
								<a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
								<div class="toggle-expand-content" data-content="pageMenu">
									<ul class="nk-block-tools g-3">
										{{ include('admin/product/_actions.html.twig') }}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				{{ include('admin/product/_list.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}


